nav.navbar.navbar-dark(style="background-color:rgba(6, 40, 137, 0.8)")
	span.navbar-brand.mb-0.h1 RP Analytics Tool
	.float-right.row.mr-1
		h5.my-auto.mr-3(style="color:white")= user.name
		button.btn.btn-outline-light.my-0(type="submit", onclick='logout()') Logout